@model projetoRedeSocial.Models.Curtidas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Curtidas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.curtidaUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.curtidaUsuario.usuarioId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.postCurtida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.postCurtida.postId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.idCurtida">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
