<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - projetoRedeSocial</title>
    @*     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/myTheme.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/projetoRedeSocial.styles.css" asp-append-version="true" />
</head>
<body>

    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="bg-primary col-auto col-md-2 min-vh-100" style="border-bottom-right-radius:30px; border-top-right-radius:30px">
                <div class="bg-primary p-2" style="border-bottom-right-radius:30px; border-top-right-radius:30px">
                    <a class="d-flex text-decoration-none mt-1 align-items-center text-white">
                        <span class="fs-4 d-none d-sm-inline">SideMenu</span>
                    </a>
                    <ul class="nav-pills flex-column mt-4 text-white">
                        <li class="nav-item">
                            <a href="#" class="icon-link" aria-current="page">
                                <i class="fs-5 bi bi-house-fill"></i><span class="fs-4 ms-3 d-none d-sm-inline">Página principal</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="icon-link" aria-current="page">
                                <i class="fs-5 bi bi-person-fill"></i><span class="fs-4 ms-3 d-none d-sm-inline">Perfil</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="icon-link" aria-current="page">
                                <i class="fs-5 bi bi-people-fill"></i><span class="fs-4 ms-3 d-none d-sm-inline">Seguidores</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="icon-link" aria-current="page">
                                <i class="fs-5 bi bi-collection-fill"></i><span class="fs-4 ms-3 d-none d-sm-inline">Posts</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="icon-link" aria-current="page">
                                <i class="fs-5 bi bi-plus-circle"></i><span class="fs-4 ms-3 d-none d-sm-inline">Criar post</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col">
        </div>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>





    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
