<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - projetoRedeSocial</title>
    @*     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/myTheme.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/projetoRedeSocial.styles.css" asp-append-version="true" />
</head>
<body class="bg-dark p-0 m-0">

    <div class="d-flex row h-100">
        <div class="col-auto h-100">
            <div class="pt-3 min-vh-100 d-flex flex-column flex-shrink-0 text-white bg-primary" style="border-top-right-radius:20px; border-bottom-right-radius:20px">
                <a asp-controller="Posts" asp-action="HomePost" class="d-flex align-self-center text-white text-decoration-none">
                    <h1>NexHub</h1>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li>

                        <a asp-controller="Posts" asp-action="HomePost" class="nav-link text-white">
                            <i class="fs-5 bi bi-house-fill"></i><span class="fs-4 ms-3 d-none d-sm-inline">Página principal</span>
                        </a>
                    </li>
                    <li>
                        @{
                            @inject IHttpContextAccessor httpContextAccessor

                            // Recuperar o cookie (por exemplo, em _Layout.cshtml)
                            var userIdCookie = httpContextAccessor.HttpContext.Request.Cookies["UserId"];

                            <a asp-controller="Usuario" asp-action="DetailsUser" asp-route-id="@userIdCookie" class="nav-link text-white">
                                <i class="fs-5 bi bi-person-fill"></i><span class="fs-4 ms-3 d-none d-sm-inline">Perfil</span>
                            </a>
                        }

                    </li>
                    <li>
                        <a asp-controller="Posts" asp-action="Create" class="nav-link text-white">
                            <i class="fs-5 bi bi-plus-circle"></i><span class="fs-4 ms-3 d-none d-sm-inline">Criar post</span>
                        </a>
                    </li>

                    <li>
                        <a asp-controller="Usuario" asp-action="Login" method="post" class="nav-link  text-white">
                            <i class="fs-5 bi bi-box-arrow-left"></i><span class="fs-4 ms-3 d-none d-sm-inline">Sair</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
            <div role="main" class="col text-white min-vh-100 p-4">
                @RenderBody()
            </div>

    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
