@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center ">
    <button class="btn btn-outline-primary">vdvdv</button>
    <button class="btn"></button>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

