@model projetoRedeSocial.Models.Usuario

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="usuarioImagem" class="control-label"></label>
                <input asp-for="usuarioImagem" class="form-control" />
                <span asp-validation-for="usuarioImagem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="usuarioDesc" class="control-label"></label>
                <input asp-for="usuarioDesc" class="form-control" />
                <span asp-validation-for="usuarioDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="usuarioNome" class="control-label"></label>
                <input asp-for="usuarioNome" class="form-control" />
                <span asp-validation-for="usuarioNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="usuarioTelefone" class="control-label"></label>
                <input asp-for="usuarioTelefone" class="form-control" />
                <span asp-validation-for="usuarioTelefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="usuarioEmail" class="control-label"></label>
                <input asp-for="usuarioEmail" class="form-control" />
                <span asp-validation-for="usuarioEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="usuarioSenha" class="control-label"></label>
                <input asp-for="usuarioSenha" class="form-control" />
                <span asp-validation-for="usuarioSenha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="usuarioEndereco" class="control-label"></label>
                <input asp-for="usuarioEndereco" class="form-control" />
                <span asp-validation-for="usuarioEndereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="usuarioCPF" class="control-label"></label>
                <input asp-for="usuarioCPF" class="form-control" />
                <span asp-validation-for="usuarioCPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

